<!-- <div  layout="row" layout-fill="layout-fill"> -->
  <div layout="column" layout-fill="layout-fill" >
    
    <md-content layout="column" flex="flex"  class="bg-secondary-color">
        <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-1dp" >
            <div class="md-toolbar-tools bg-color-white" ui-view="navigation">
                
            </div>
        </md-toolbar>

      <div layout="column" flex="flex" >

        <div flex="none"  layout="row">
          <div layout="column" flex="flex" ui-view="content" >
            
            
          </div>
        </div>

        <div flex="flex" class="md-accent"></div>
        <footer class="primary-color bg-color-white" flex="none" layout-padding="layout-padding">
          <p>Footer</p>
        </footer>
      </div>

    </md-content>
  </div>
<!-- </div > -->